{% extends 'base.html' %}


{% block content %}
    <h3 class="text-center mt-4">Lista de departamentos</h3>
    
    

        <table class="table table-striped">
            <thead>
                <th scope="col">Chefe do departamento</th>
            </thead>
            {% for Departamento in object_list %}
            <tbody>
                <tr>
                    <td>
                  {{Departamento.nome}}
                    </td>
                    <td></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
   
        
{% endblock content %}
    