{% extends 'base.html' %}


{% block content %}
    <h3 class="text-center mt-4">Lista de Funcionários</h3>
    
    {% for Funcionario in object_list %}
        <table class="table table-dark">
            <thead>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Empresa</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{Funcionario.nome}}</td>
                    <td>{{Funcionario.email}}</td>
                    <td>{{Funcionario.empresas}}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
        
{% endblock content %}
    