{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/meating.css' %}">
{% block styles %}
    
{% endblock styles %}


{% block content %}
    <h1 class="h11">Criar Reunião</h1>
    <div class="container">
        
        {% if message %}
            <center><h1>{{message}}</h1></center>
            {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    <p>Nome da reunião</p>
                    <input type="text" name="channel_name" value="" placeholder="Channel Name" class="input">
                    <p>Título da reunião</p>
                    <input type="text" name="meeting_title" value="" placeholder="Meeting Title" class="input">
                    <p>Assunto</p>
                    <textarea name="meeting_subject" rows="8" cols="80" placeholder="Subject" class="input"></textarea>
                    <p>Hora de começo</p>
                    <input type="time" name="start_time" value="" placeholder="Time" class="input">
                    <p>Hora de termino</p>
                    <input type="time" name="end_time" value="" placeholder="Time" class="input">
                    <p>Data</p>
                    <input type="date" name="date" value="" placeholder="Date" class="input">
                    <div class="flex">
                        <button name="button" type="submit" class="new1">Criar</button>
                        <a href=""><button type="button" name="button" class="new1">Voltar</button></a>
                    </div>
                </form>
        {% endif %}
            
    </div>
{% endblock content %}
    